<div class="botui-app-container" id="help-bot">
  <bot-ui></bot-ui>
</div>
<!-- use Vue version 2.0.5 for HTML embeds | https://github.com/botui/botui/issues/103-->
 <!-- remove .min from the file name to use in development mode -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/botui@0.3.9/build/botui.min.js"></script>
<script src="./bot-script.js"></script>
